body {
    background-color: rgb(19, 22, 32);
    color: white;
}

.button-container {
    display: flex;
    justify-content: end;

}

.h1-top {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0.5rem;
}