body {
    background-color: rgb(19, 22, 32);
    color: wheat;
}

input {
    background-color: rgb(63, 63, 63);
    color: black;
    top: 2.5rem;
    left: 70rem;
}

#postButton {}

.h1-top {
    padding: 0;
    margin: 0;
}

.h1-anchor {
    text-decoration: 0;
}

#Search-input {
    display: block;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    height: 1.5rem;
}

.sidenav {
    height: 100%;
    width: 20rem;
    position: fixed;
    overflow-x: hidden;
    margin-top: 20rem;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav-two {
    height: 100%;
    width: 20rem;
    position: fixed;
    overflow-x: hidden;
    margin-top: 40rem;
}

.sidenav-two a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.button-container {
    display: flex;
    justify-content: end;
}

.app {
    background-color: rgb(38, 43, 59);
    border: none;
    color: wheat;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 1rem;
    border-radius: 3rem;
}

.log-in {
    background-color: rgb(156, 79, 6);
    border: none;
    color: wheat;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3rem;
}

#main-container {
    margin-left: 20rem;
    margin-right: 20rem;
}

li {
    list-style-type: none;
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}