body {
    background-color: rgb(19, 22, 32);
    color: wheat;
}


input {
    background-color: rgb(63, 63, 63);
    color: black;
    top: 2.5rem;
    left: 70rem;
}

.h1-top {
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 20rem;
    position: fixed;
    overflow-x: hidden;
    margin-top: 20rem;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav-two {
    height: 100%;
    width: 20rem;
    position: fixed;
    overflow-x: hidden;
    margin-top: 40rem;
}

.sidenav-two a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.button-container {
    display: flex;
    justify-content: end;

}


#main-container {
    margin-left: 20rem;
    margin-right: 20rem;
}

li {
    list-style-type: none;
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}